node_modules
.next
out
dist
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vercel
.turbo
coverage
.idea
.vscode
prisma/migrations/dev.db*
*.tsbuildinfo
tsconfig.tsbuildinfo
